/* src/App.css */
body {
  background: white;
  width: 100%;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.App {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: (0, 0, 0, 0.1);
  max-width: 1200px;

}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  width: 45%;
  min-width: 300px;

}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

form h2 {
  text-align: center;
  width: 100%;
}

form button {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

@media (max-width: 600px) {

  .App {
    padding: 20px;
    margin: 10px;
  }

  form div {
    padding: 20px;
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }

}